th:nth-child(1), td:nth-child(1) { width: 3.8%; }    /* ID */
th:nth-child(3), td:nth-child(3) { text-align: center;} /* Phone Number */
th:nth-child(4), td:nth-child(4) { width: 10%; text-align: center;}   /* Edit */

.visitor-add-pop-up{
    /* display: flex; */
    display: none;
}
.visitor-edit-pop-up{
    /* display: flex; */
    display: none;
}